.presentationBox {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  min-height: 70vh;
  display: grid;
  place-content: center;
  text-align: center;

  h1 {
    font-size: clamp(1rem, 3vw + 1rem, 4rem);
    position: relative;
    font-family: "Source Code Pro", monospace;
    position: relative;
    width: max-content;

    --typewriterSpeed: 6s;
    --typewriterCharacters: 23;
  }

  h1::before,
  h1::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  h1::before {
    background: var(--background);
    animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards;
  }

  h1::after {
    width: 0.125em;
    background: var(--orange);
    animation: typewriter var(--typewriterSpeed)
        steps(var(--typewriterCharacters)) 1s forwards,
      blink 750ms steps(var(--typewriterCharacters)) infinite;
  }

  .subtitle {
    margin-top: 3rem;
    color: var(--gray);
    font-size: 2rem;
    font-weight: 400;
    opacity: 0;
    transition: opacity 1s;
    animation: fadeInUp 2s ease forwards;
    animation-delay: 7s;
  }

  @keyframes typewriter {
    to {
      left: 100%;
    }
  }

  @keyframes blink {
    to {
      background: transparent;
    }
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(+100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
